$gray-08: var(--gray-08);
$gray-06: var(--gray-06);
$gray-04: var(--gray-04);
$gray-02: var(--gray-02);

$background-gray: var(--background-gray);
$layout-background-gray: var(--layout-background-gray);

$main-red: var(--main-red);
$main-color: var(--main-color);
$main-orange: var(--main-orange);

$key-box-shadow: var(--key-box-shadow);
$box-shadow-color: var(--box-shadow-color);

$label-white: var(--label-white);

$font-en: Verdana, sans-serif;

@mixin limit-line($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
}

$pcLayout: 'only screen and (max-width: 767px)';
$mobileLayout: 'only screen and (max-width: 767px)';