/* 颜色变量 light 模式 */
:root {
  /*灰阶颜色 */
  --gray-08: #1d2127;
  --gray-06: #52575d;
  --gray-04: #a0a5aa;
  --gray-02: #d2d7d9;

  --background-gray: #f5f7f8;
  --layout-background-gray: #ffffff;

  --key-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  --box-shadow-color: rgba(0, 0, 0, 0.4);

  /* 基础色 */
  --label-white: #fff;
  --main-red: #f64c4c;
  --main-color: #15c5ce;
  --main-orange: #ff8156;
}
