/* 颜色变量 dark 模式 */
:root {
  /*灰阶颜色 */
  --gray-08: rgba(255, 255, 255, 0.85);
  --gray-06: rgba(255, 255, 255, 0.6);
  --gray-04: rgba(255, 255, 255, 0.4);
  --gray-02:  #343947;

  --background-gray: #252733;
  --layout-background-gray: #30323d;

  --key-box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
  --box-shadow-color: rgba(255, 255, 255, 0.2);

  /* 基础色 */
  --label-white: #fff;
  --main-red: #f64c4c;
  --main-color: #15c5ce;
  --main-orange: #ff8156;
}
