/* v2.5 颜色变量 dark 模式 */
:root {
  /*灰阶颜色 */
  --gray-08: rgba(255, 255, 255, 0.85);
  --gray-07: rgba(255, 255, 255, 0.7);
  --gray-06: rgba(255, 255, 255, 0.6);
  --gray-05: rgba(255, 255, 255, 0.5);
  --gray-04: rgba(255, 255, 255, 0.4);
  --gray-03: rgba(255, 255, 255, 0.3);
  --gray-02: rgba(255, 255, 255, 0.1);
  --gray-01: #343947;
  /* 基础色 */
  --main-white: #252733;
  --main-white-gradient: linear-gradient(180deg, rgba(37, 39, 51, 1) 0%, rgba(37, 39, 51, 0) 100%);
  --main-black: rgba(255, 255, 255, 0.9);
  --main-red: #f64c4c;
  --main-red-light: rgba(246, 76, 76, 0.1);
  --main-color: #15c5ce;
  --main-color-gradient: linear-gradient(180deg, #18d6e0 0%, #14c2cb 67.19%, #17d6e1 100%);
  --main-color-light: #233f4a;
  --main-orange: #ff8156;
  --main-orange-gradient: linear-gradient(180deg, #ff9c6b 0%, #ff7752 100%);
  --main-orange-light: #463538;
  --label-white: #fff;

  --background-gray: #252733;
  --layout-background-gray: #30323d;
  --background-gray-hover: #3a3c47;
  --layout-background-gray-hover: #4b505c;

  --key-box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
  --box-shadow-color: rgba(255, 255, 255, 0.2);

  /* hover 色 */
  --gray-01-hover: #404552;
  --gray-02-hover: rgba(255, 255, 255, 0.16);
  --gray-03-hover: rgba(255, 255, 255, 0.36);
  --gray-04-hover: rgba(255, 255, 255, 0.46);
  --gray-06-hover: rgba(255, 255, 255, 0.66);
  --gray-08-hover: rgba(255, 255, 255, 0.91);
  --main-white-hover: #32343f;
  --main-color-hover: #31ccd4;
  --main-color-light-hover: #304b55;
  --main-orange-hover: #ff8960;
  --main-orange-light-hover: #514144;
  --main-red-hover: #f75757;
  --extension-overlay-black-hover: rgba(0, 0, 0, 0.06);
  --extension-components-black-hover: rgba(29, 33, 39, 0.4);
}
