*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Quotes, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-gray;
  transition: background-color 0.3s, color 0.3s;
  padding: 32px;
}

a {
  color: $gray-08;
  text-decoration: none;
}

.router-link-active {
  color: $main-color;
}

@font-face {
  font-family: 'zpix-min';
  src: url('@/assets/font/zpix-min.ttf');
}

@font-face {
  font-family: 'zpix';
  src: url('https://file.yasinchan.com/JudectfYr6GWqWPMRw79gEhCdUhozc36/zpix.ttf');
}

@font-face {
  font-family: 'zhankugaoduanhei';
  src: url('https://file.yasinchan.com/GYXj95jRXLICyKOUEN99DCOTeK2wXHNR/zhankugaoduanhei.ttf');
}

@font-face {
  font-family: 'zhankugaoduanhei-min';
  src: url('@/assets/font/zhankugaoduanhei-min.ttf');
}

.y-font--zpix-min {
  font-family: zpix-min;
}

.y-font--zpix {
  font-family: zpix;
}

.y-font--zhankugaoduanhei {
  font-family: zhankugaoduanhei;
}

.y-font--zhankugaoduanhei-min {
  font-family: zhankugaoduanhei-min;
}

.y-font--AlibabaPuHuiTi {
  font-family: AlibabaPuHuiTi;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center--x {
  display: flex;
  justify-content: center;
}
.flex-center--y {
  display: flex;
  align-items: center;
}
.flex-center--y-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center--y-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-color {
  color: $main-color;
}
.gray-08 {
  color: $gray-08;
}
.gray-06 {
  color: $gray-06;
}
.gray-04 {
  color: $gray-04;
}

.cursor-pointer {
  cursor: pointer;
}
